@tailwind base;

@tailwind components;

/**
 * Main site font.
 */
@font-face {
  font-family: "ChunkFiveRegular";
  src: url("./fonts/chunkfive-regular-webfont.woff2") format("woff2"),
    url("./fonts/chunkfive-regular-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "ChunkFivePrint";
  src: url("./fonts/chunk_five_print-webfont.woff2") format("woff2"),
    url("./fonts/chunk_five_print-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

/**
 * Navigation
 */
.main-nav li {
  @apply mr-1;
}

@screen sm {
  .footer-nav li:hover {
    @apply text-orange;
  }
}

/**
 * Today's Random Quote blockquote
 */
.blockquote-footer-li {
  @apply h-7 flex justify-end items-center;
}

@screen sm {
  .blockquote-footer-li:hover {
    @apply text-orange;
  }
}

/**
 * Header flourish bg
 */
.blockquote-footer-li img {
  @apply ml-2;
}

.flourish-grad-bg {
  background-image: linear-gradient(
      to right,
      rgba(70, 133, 125, 0.76),
      rgba(70, 133, 125, 1),
      rgba(70, 133, 125, 0.76)
    ),
    url(./img/flourish-jade.svg);
  background-repeat: no-repeat, no-repeat;
  background-position: right, left bottom -50px;
  background-color: #fd9230;
}

.flourish-footer-bg {
  background-image: url(./img/flourish-genoa.svg);
  background-repeat: no-repeat, no-repeat;
  background-position: left -22px bottom -22px;
  background-color: #46857d;
}

@screen sm {
  .flourish-grad-bg {
    background-position: right, left bottom;
  }
}

/**
 * Header flourish text decorations
 */
h1.heading-flourish:before,
h1.heading-flourish:after {
  width: 70px;
  height: 33px;
  margin-bottom: -0.3rem;
}

@screen sm {
  h1.heading-flourish:before,
  h1.heading-flourish:after {
    margin-bottom: -0.1rem;
  }
}

h3.heading-flourish:before,
h3.heading-flourish:after {
  width: 44px;
  height: 21px;
  margin-bottom: -0.2rem;
}

h1.heading-flourish:before,
h3.heading-flourish:before {
  margin-right: 0.4rem;
}

h1.heading-flourish:after,
h3.heading-flourish:after {
  margin-left: 0.4rem;
}

.icon-blockquote {
  width: 37px;
  height: 29px;
  top: 2rem;
  left: 2.75rem;
}

@screen sm {
  .icon-blockquote {
    width: 87px;
    height: 69px;
    top: 4rem;
    left: 5rem;
  }
}

.ext-link-icon {
  cursor: pointer;
  display: inline-block;
  width: 18px;
  height: 18px;
  background-image: url(./img/icon-ext-link.svg);
  background-position: left top;
  @apply ml-2;
}

.blockquote-footer-li:hover .ext-link-icon {
  background-image: url(./img/icon-ext-link-hover.svg);
}

.credits-copyright a {
  @apply text-neon-carrot;
}

@screen sm {
  .credits-copyright a:hover {
    @apply text-faded-jade;
  }
}

@tailwind utilities;

/**
 * Base layer (preflight) customisations
 */

/* Default heading font sizes */
@layer base {
  h1 {
    @apply text-5xl;
  }

  h2 {
    @apply text-3xl;
  }

  h3 {
    @apply text-2xl;
  }

  h4 {
    @apply text-xl;
  }

  h5 {
    @apply text-lg;
  }

  h6 {
    @apply text-base;
  }

  h7 {
    @apply text-sm;
  }
}

/**
 * Custom Utilities
 */

@layer utilities {
  @responsive {
    /* Text heading flourish decorations */
    .heading-flourish:before,
    .heading-flourish:after {
      display: inline-block;
      content: "";
      background-repeat: no-repeat;
      background-size: contain;
      background-position: left top;
    }

    .heading-flourish.heading-flourish-both:before {
      background-image: url(./img/flourish-heading-left.svg);
    }

    .heading-flourish.heading-flourish-both:after,
    .heading-flourish.heading-flourish-after:after {
      background-image: url(./img/flourish-heading-right.svg);
    }

    /* Text indent */
    .text-indent-0 {
      text-indent: none;
    }
    .text-indent-4 {
      text-indent: 4rem;
    }
    .text-indent-7 {
      text-indent: 7.75rem;
    }
  }
}
